.root:global(.__wab_instance) {
  position: relative;
  background: var(--token-fbsXJrMIeHUe);
  display: flex;
  cursor: pointer;
  box-sizing: border-box;
  min-width: var(--token-dZ0nyf3FIjxp);
  font-family: var(--token-axGrpunUgRsU);
  font-size: var(--token-h5h27MRFsJyw);
  line-height: var(--token-545LsFzRwT_J);
  outline-style: none;
  text-decoration-line: none;
  border-radius: var(--token-fs6uKi-yHfIG);
  padding: 0rem;
  border-width: 0px;
}
.root[data-focus-visible]:global(.__wab_instance) {
  outline-style: solid;
  outline-width: var(--token-JQqoYlQSMDtq);
  outline-offset: 1px;
  outline-color: var(--token-fbsXJrMIeHUe);
}
.root[data-disabled]:global(.__wab_instance) {
  cursor: not-allowed;
}
.rootcolor_neutral:global(.__wab_instance) {
  background: var(--token-43_uk57Q2s8T);
}
.rootcolor_muted:global(.__wab_instance) {
  background: var(--token-xSsUvaE5UrJv);
}
.rootcolor_success:global(.__wab_instance) {
  background: var(--token-P-MK4xIrNsK3);
}
.rootcolor_warning:global(.__wab_instance) {
  background: var(--token-kfHXEbDt-T6c);
}
.rootcolor_errorDestructive:global(.__wab_instance) {
  background: var(--token-z75NJFQB_58f);
}
.roottype_soft:global(.__wab_instance) {
  background: none;
}
.roottype_bordered:global(.__wab_instance) {
  background: none;
}
.rootsize_extraSmall:global(.__wab_instance) {
  line-height: var(--token-xxrp-gXCmbv-);
  font-size: var(--token-SfaV5AYuJneF);
  column-gap: var(--token-JQqoYlQSMDtq);
  row-gap: 0px;
  border-radius: var(--token-a1svZgO8T-KP);
}
.rootsize_small:global(.__wab_instance) {
  font-size: var(--token-SfaV5AYuJneF);
  line-height: var(--token-xxrp-gXCmbv-);
  column-gap: var(--token-a1svZgO8T-KP);
  row-gap: 0px;
  border-radius: var(--token-a1svZgO8T-KP);
}
.rootsize_large:global(.__wab_instance) {
  font-size: var(--token--hMn418-trMz);
  line-height: var(--token-ThvbZ75XLFaX);
}
.rootsize_extraLarge:global(.__wab_instance) {
  font-size: var(--token--hMn418-trMz);
  line-height: var(--token-ThvbZ75XLFaX);
}
.rootroundedFull:global(.__wab_instance) {
  border-radius: 99px;
}
.rootflatSide_top:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-top-left-radius: 0rem;
}
.rootflatSide_right:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.rootflatSide_bottom:global(.__wab_instance) {
  border-bottom-right-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.rootflatSide_left:global(.__wab_instance) {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.softBackground {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background: var(--token-KimW-s1Xcm-b);
  border-radius: var(--token-fs6uKi-yHfIG);
}
.softBackgroundcolor_neutral {
  background: var(--token-Aw60rYlxesl0);
}
.softBackgroundcolor_muted {
  background: var(--token-JPDovflEQRa3);
}
.softBackgroundcolor_success {
  background: var(--token-JyPqXtcdOFHl);
}
.softBackgroundcolor_warning {
  background: var(--token-BKTgzvPdpoBF);
}
.softBackgroundcolor_errorDestructive {
  background: var(--token-z6z02aDvyUcV);
}
.softBackgroundtype_soft {
  display: block;
}
.roottype_bordered[data-hovered] .softBackgroundtype_bordered {
  display: block;
}
.roottype_bordered[data-pressed] .softBackgroundtype_bordered {
  display: block;
}
.softBackgroundroundedFull {
  border-radius: 99px;
}
.border {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  border-radius: var(--token-fs6uKi-yHfIG);
  border: 0px solid var(--token-0QSl9qFnBhYk);
}
.bordercolor_neutral {
  border-color: var(--token-DM7t8u3WRvKo);
}
.bordercolor_muted {
  border-color: var(--token-TvIDmaOOQ0aw);
}
.bordercolor_success {
  border-color: var(--token-rFj7smdilIKp);
}
.bordercolor_warning {
  border-color: var(--token-X9n2SVOyjxYJ);
}
.bordercolor_errorDestructive {
  border-color: var(--token-zYQ6i4iEKdNE);
}
.bordertype_bordered {
  background: none;
  display: block;
  border-width: 1px;
}
.borderroundedFull {
  border-radius: 99px;
}
.borderflatSide_top {
  border-top-left-radius: 0rem;
  border-top-right-radius: 0rem;
}
.borderflatSide_right {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.borderflatSide_bottom {
  border-bottom-left-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.borderflatSide_left {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.interactionEffect {
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  border-radius: var(--token-fs6uKi-yHfIG);
}
.root[data-hovered] .interactionEffect {
  background: var(--token-19pHUlDb-Fbt);
}
.root[data-disabled] .interactionEffect {
  background: var(--token-h1fM2zclNruI);
}
.root[data-pressed] .interactionEffect {
  background: var(--token-ZcEhZ95zqOt5);
}
.roottype_bordered[data-hovered] .interactionEffecttype_bordered {
  display: none;
}
.interactionEffectroundedFull {
  border-radius: 99px;
}
.freeBox___2JqPp {
  display: flex;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
  padding: var(--token-fs6uKi-yHfIG) var(--token-QKJusGwNEW-E);
}
.freeBox___2JqPp > :global(.__wab_flex-container) {
  justify-content: center;
  align-items: center;
  min-width: 0;
  min-height: 0;
  margin-left: calc(0px - var(--token-fs6uKi-yHfIG));
  width: calc(100% + var(--token-fs6uKi-yHfIG));
}
.freeBox___2JqPp > :global(.__wab_flex-container) > *,
.freeBox___2JqPp > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___2JqPp > :global(.__wab_flex-container) > picture > img,
.freeBox___2JqPp
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-fs6uKi-yHfIG);
}
.freeBoxsize_extraSmall___2JqPp46Dc {
  padding: var(--token-a1svZgO8T-KP) var(--token-fs6uKi-yHfIG);
}
.freeBoxsize_small___2JqPpTsGeF {
  padding: var(--token-fs6uKi-yHfIG) var(--token-dZ0nyf3FIjxp);
}
.freeBoxsize_large___2JqPp8SjI2 {
  padding-top: var(--token-a1svZgO8T-KP);
  padding-bottom: var(--token-a1svZgO8T-KP);
}
.freeBoxsize_extraLarge___2JqPpgW7O {
  padding-left: var(--token-nfA2MH9wps3v);
  padding-right: var(--token-nfA2MH9wps3v);
}
.freeBoxroundedFull___2JqPpVp5Z {
  padding-right: var(--token-nfA2MH9wps3v);
  padding-left: var(--token-nfA2MH9wps3v);
}
.freeBox__psZuN {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.freeBoxiconStart__psZuNzTgz {
  display: flex;
}
.slotTargetStart {
  color: var(--token-2jsUN0iFo3Qg);
}
.slotTargetStartcolor_neutral {
  color: var(--token-ACdSWxNNSEpJ);
}
.slotTargetStartcolor_muted {
  color: var(--token-dVGefu-JdDa5);
}
.slotTargetStartcolor_success {
  color: var(--token-ZCexgy2ePNz6);
}
.slotTargetStartcolor_warning {
  color: var(--token-q50R4SfuBTjb);
}
.slotTargetStartcolor_errorDestructive {
  color: var(--token-wX5yUJbD8xj8);
}
.slotTargetStarttype_soft {
  color: var(--token-1_4zf9HuXn4O);
}
.slotTargetStarttype_bordered {
  color: var(--token-1_4zf9HuXn4O);
}
.slotTargetStartsize_extraSmall {
  font-size: var(--token-SfaV5AYuJneF);
}
.slotTargetStartsize_small {
  font-size: var(--token-SfaV5AYuJneF);
}
.slotTargetStartsize_large {
  font-size: var(--token--hMn418-trMz);
}
.slotTargetStartsize_extraLarge {
  font-size: var(--token--hMn418-trMz);
}
.slotTargetStarttype_soft_color_neutral {
  color: var(--token-8eAYxPeukWMV);
}
.slotTargetStartcolor_neutral_type_bordered {
  color: var(--token-8eAYxPeukWMV);
}
.slotTargetStartcolor_muted_type_soft {
  color: var(--token-RZfg7uK0GVUn);
}
.slotTargetStartcolor_muted_type_bordered {
  color: var(--token-RZfg7uK0GVUn);
}
.slotTargetStartcolor_success_type_soft {
  color: var(--token-aPnG55qmxzJq);
}
.slotTargetStartcolor_success_type_bordered {
  color: var(--token-aPnG55qmxzJq);
}
.slotTargetStartcolor_warning_type_soft {
  color: var(--token-Sq0Q6CpadN7p);
}
.slotTargetStartcolor_warning_type_bordered {
  color: var(--token-Sq0Q6CpadN7p);
}
.slotTargetStartcolor_errorDestructive_type_soft {
  color: var(--token-nap4geDZdd32);
}
.slotTargetStartcolor_errorDestructive_type_bordered {
  color: var(--token-nap4geDZdd32);
}
.svg___3T8Dw {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
.slotTargetLabel {
  color: var(--token-2jsUN0iFo3Qg);
}
.slotTargetLabelcolor_neutral {
  color: var(--token-ACdSWxNNSEpJ);
}
.slotTargetLabelcolor_muted {
  color: var(--token-dVGefu-JdDa5);
}
.slotTargetLabelcolor_success {
  color: var(--token-ZCexgy2ePNz6);
}
.slotTargetLabelcolor_warning {
  color: var(--token-q50R4SfuBTjb);
}
.slotTargetLabelcolor_errorDestructive {
  color: var(--token-wX5yUJbD8xj8);
}
.slotTargetLabeltype_soft {
  color: var(--token-1_4zf9HuXn4O);
}
.slotTargetLabeltype_bordered {
  color: var(--token-1_4zf9HuXn4O);
}
.slotTargetLabeltype_soft_color_neutral {
  color: var(--token-8eAYxPeukWMV);
}
.slotTargetLabelcolor_muted_type_soft {
  color: var(--token-RZfg7uK0GVUn);
}
.slotTargetLabelcolor_neutral_type_bordered {
  color: var(--token-8eAYxPeukWMV);
}
.slotTargetLabelcolor_success_type_soft {
  color: var(--token-aPnG55qmxzJq);
}
.slotTargetLabelcolor_muted_type_bordered {
  color: var(--token-RZfg7uK0GVUn);
}
.slotTargetLabelcolor_warning_type_soft {
  color: var(--token-Sq0Q6CpadN7p);
}
.slotTargetLabelcolor_success_type_bordered {
  color: var(--token-aPnG55qmxzJq);
}
.slotTargetLabelcolor_errorDestructive_type_soft {
  color: var(--token-nap4geDZdd32);
}
.slotTargetLabelcolor_warning_type_bordered {
  color: var(--token-Sq0Q6CpadN7p);
}
.slotTargetLabelcolor_errorDestructive_type_bordered {
  color: var(--token-nap4geDZdd32);
}
.text__vxQ7S {
  white-space: pre;
}
.freeBox__cicGy {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.freeBoxiconEnd__cicGyKwA5 {
  display: flex;
}
.slotTargetEnd {
  color: var(--token-2jsUN0iFo3Qg);
}
.slotTargetEndcolor_neutral {
  color: var(--token-ACdSWxNNSEpJ);
}
.slotTargetEndcolor_muted {
  color: var(--token-dVGefu-JdDa5);
}
.slotTargetEndcolor_success {
  color: var(--token-ZCexgy2ePNz6);
}
.slotTargetEndcolor_warning {
  color: var(--token-q50R4SfuBTjb);
}
.slotTargetEndcolor_errorDestructive {
  color: var(--token-wX5yUJbD8xj8);
}
.slotTargetEndtype_soft {
  color: var(--token-1_4zf9HuXn4O);
}
.slotTargetEndtype_bordered {
  color: var(--token-1_4zf9HuXn4O);
}
.slotTargetEndsize_extraSmall {
  font-size: var(--token-SfaV5AYuJneF);
}
.slotTargetEndsize_small {
  font-size: var(--token-SfaV5AYuJneF);
}
.slotTargetEndsize_large {
  font-size: var(--token--hMn418-trMz);
}
.slotTargetEndsize_extraLarge {
  font-size: var(--token--hMn418-trMz);
}
.slotTargetEndtype_soft_color_neutral {
  color: var(--token-8eAYxPeukWMV);
}
.slotTargetEndcolor_neutral_type_bordered {
  color: var(--token-8eAYxPeukWMV);
}
.slotTargetEndcolor_muted_type_soft {
  color: var(--token-RZfg7uK0GVUn);
}
.slotTargetEndcolor_muted_type_bordered {
  color: var(--token-RZfg7uK0GVUn);
}
.slotTargetEndcolor_success_type_soft {
  color: var(--token-aPnG55qmxzJq);
}
.slotTargetEndcolor_success_type_bordered {
  color: var(--token-aPnG55qmxzJq);
}
.slotTargetEndcolor_warning_type_soft {
  color: var(--token-Sq0Q6CpadN7p);
}
.slotTargetEndcolor_warning_type_bordered {
  color: var(--token-Sq0Q6CpadN7p);
}
.slotTargetEndcolor_errorDestructive_type_soft {
  color: var(--token-nap4geDZdd32);
}
.slotTargetEndcolor_errorDestructive_type_bordered {
  color: var(--token-nap4geDZdd32);
}
.svg__reZlk {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
